*{
    margin: 0%;
    padding: 0%;
}
#barrasuperior{
    height: 100px;
    background-color: #643fff;
    display: grid;
    grid-template-columns: auto 200px 200px 100px;
    color: white;
    align-items: center;
}
#seccionmedio{
    display: flex;
    height: 100vh;
    background-color: #e9e9e9;
}